body {
    background-image: url("../image/vector.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 600px;
    padding-left: 55px;
    padding-right: 30px;
}

/* :::::::::::::: START NAVIGATION ::::::::::::::*/

nav.navbar {
    padding-left: 55px;
    padding-right: 27px;
}

.navbar-brand {
    margin: 0px;
}

nav .navbar-nav li a.dropdown-item:hover {
    color: #B0DEFF;
    background-color: #FFFF;
}

nav .navbar-nav li {
    padding-right: 3px;
}

nav .navbar-nav li a {
    color: black;
    font-size: 16px;
}

nav .navbar-nav li a:hover, nav .navbar-nav li a:visited {
    color: black;
}

/* :::::::::::::: END NAVIGATION ::::::::::::::*/

/* :::::::::::::: START SECTION DESCRIPTION ::::::::::::::*/

section.decsription {
    margin-top: 160px;
    margin-bottom: 20px;
}

.bg-transparent.scrolled {
    background: #FFFF !important;
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.desc1 {
    font-size: 29px;
    text-align: left; 
    color: black;
    font-weight: 600;
    line-height: 48px;
    padding-left: 20px;
}

.desc2 {
    font-size: 20px;
    text-align: left; 
    color: black;
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 48px;
    font-weight: 400;
    padding-left: 22px;
}

.desc3 {
    font-size: 20px;
    text-align: left; 
    color: black;
    padding-top: -20px;
    padding-bottom: 35px;
    line-height: 28px;
    font-weight: 400;
    padding-left: 22px;
}

.has-search {
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 160px;
}
  
.has-search .form-control {
    padding-right: 2.375rem;
    border: 2px solid #000000; 
    border-radius: 40px;
}
  
  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #000000;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0px;
    padding-right: 190px;
  }
  .vector2 {
    position: absolute;
    z-index: 999;
    left: -1px;
    top: 115px;
    width: 130px;
  }

/* :::::::::::::: END SECTION DESCRIPTION ::::::::::::::*/

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin: auto;
    
  }
  
.column.kolom1{
    width: 270px;
    margin-top: 62px;
}
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -6px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      padding: 80px;

    }
  }
  
  /* Style the counter cards */
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width : 270px;
    height: 270px;
    /* padding-left: 55px;
    padding-right: 60px; */
    margin: auto;
  }

/* :::::::::::::: START PAGINATION ::::::::::::::*/

section.pagin{
  padding-left: 22px;
  padding-bottom: 50px;
}

nav .pagination{
  padding-bottom: 20px;
  position: absolute;
  left: 45%;
}

nav ul.pagination li.page-item a.page-link{
  color: #000000;
  font-weight: 600;
}

nav ul.pagination li.page-item a.page-link:hover:not(.active){
  background-color: #B0DEFF;
}

.vector3{
  position: absolute;
  right: 0px;
  top: 500px;
  z-index: 999;
}

/* :::::::::::::: END PAGINATION ::::::::::::::*/

/* :::::::::::::: START FOOTER ::::::::::::::*/
section.footeer{
  padding-top: 20px;
  margin-left: -55px;
  margin-right: -30px;
}

.row a.navbar-brand img{
  margin-left: -55px;
}

.row .col-lg-6{
  width: 10%;
}

.row .col-lg-3{
  width: 18%;
}

.footeer .bg-footer{
  background-color: #F0EEEE;
}

.bg-footer h5.tuppercase{
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}

.bg-footer li a.twhite{
  color: #000000;
  text-transform: capitalize;
  font-size: 16px;
}

.bg-footer .tcenter{
  color: #000000;
  text-align: center;
}

.klmitra{
  display: grid;
  row-gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: none;
  padding: 0px;
  width: 250px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.klmitra .g-col-6{
  background-color: #D9D9D9;
  border-radius: 10px;
  text-align: center;
  margin-inline: 0px;
  width: 70px;
  height: 70px;
}

/* :::::::::::::: END FOOTER ::::::::::::::*/



